@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Chaviera;
  src: url("../fonts/Chaviera.otf") format("opentype");
}

/* SF Pro Regular */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* SF Pro Regular Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* SF Pro Medium */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* SF Pro Medium Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SF Pro Semibold */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* SF Pro Semibold Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* SF Pro Bold */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* SF Pro Bold Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* SF Pro Heavy */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* SF Pro Heavy Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* SF Pro Light */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* SF Pro Light Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@theme {
  --font-sfpro: "SF Pro", sans-serif;
}

a.router-link-active,
a.router-link-exact-active {
  @apply text-[#00a6fb] transition font-bold;
}

.default-link:not(.router-link-active, .router-link-exact-active, .donation) {
  @apply dark:text-white text-[#565656];
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
  opacity: 1;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.enter-transition-layout {
  transition: all 0.5s;
  opacity: 1;
  animation-name: enter;
  animation-duration: 0.6s;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
}

/* *::-webkit-scrollbar {
	height: 5px;
	width: 3px;
	display: none;
} */
/* *::-webkit-scrollbar-track {
	border-radius: 20px;
	background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
	background-color: #090909;
}

*::-webkit-scrollbar-track:active {
	background-color: #090909;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #ffffff13;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #ffffff;
} */

*:not(.scrollbar-thin)::-webkit-scrollbar {
  display: none;
}
*:not(.scrollbar-thin) {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* assets/css/scrollbar.css */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px !important;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #555 !important;
  border-radius: 9999px !important;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent !important;
}


.vfm-overlay {
  transition: all 0.4s ease;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
