@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Chaviera;
  src: url("../fonts/Chaviera.otf") format("opentype");
}

/* SF Pro Regular */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* SF Pro Regular Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* SF Pro Medium */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* SF Pro Medium Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SF Pro Semibold */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* SF Pro Semibold Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* SF Pro Bold */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* SF Pro Bold Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* SF Pro Heavy */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* SF Pro Heavy Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* SF Pro Light */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* SF Pro Light Italic */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@theme {
  --font-sfpro: "SF Pro", sans-serif;
}

a.router-link-active,
a.router-link-exact-active {
  @apply text-[#00a6fb] transition font-bold;
}

.default-link:not(.router-link-active, .router-link-exact-active, .donation) {
  @apply dark:text-white text-[#565656];
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
  opacity: 1;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

.enter-transition-layout {
  transition: all 0.5s;
  opacity: 1;
  animation-name: enter;
  animation-duration: 0.6s;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
}

/* *::-webkit-scrollbar {
	height: 5px;
	width: 3px;
	display: none;
} */
/* *::-webkit-scrollbar-track {
	border-radius: 20px;
	background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
	background-color: #090909;
}

*::-webkit-scrollbar-track:active {
	background-color: #090909;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #ffffff13;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #ffffff;
} */

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}



.vfm-overlay {
  transition: all .4s ease;
}